header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 12px;
	@include max($md) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: var(--doc-height);
		background-color: #eee;
		overflow: auto;
		flex-direction: column;
		justify-content: center;
		gap: 24px;
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		transition: opacity cubic-bezier(0.92, 0.02, 0.96, 0.42) 0.3s;

		&.is-active {
			visibility: visible;
			opacity: 1;
			pointer-events: all;
		}
	}
}
