/* media sizes */
$xxl: 1280px;
$xl: 1120px;
$lg: 1024px;
$md-2: 992px;
$md: 768px;
$sm: 640px;
$xs: 420px;

/* z-index */
$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-4: 4;
$z-5: 5;
$z-max: 1000;

// container width
$container: 1280px;
