body {
	display: flex;
	flex-direction: column;
}
main {
	flex-grow: 1;
}
.container {
	max-width: $container;
	width: 100%;
	padding: 0 $container-padding;
	margin: 0 auto;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  // * {
  //   scrollbar-width: thin;
  //   scrollbar-color: #759242 #dedede;
  // }

  // /* Chrome, Edge, and Safari */
  // *::-webkit-scrollbar {
  //   width: 12px;
  // }

  // *::-webkit-scrollbar-track {
  //   background: #dedede;
  // }

  // *::-webkit-scrollbar-thumb {
  //   background-color: #759242;
  //   border-radius: 0px;
  //   border: 0px inset #ffffff;
  // }