.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(#ffffff, 0.25);
	backdrop-filter: blur(20px);
	color: #eeeeee;
	font-size: 1.6rem;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 12px;

	@media(--md) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: var(--height);
		background-color: #eee;
		overflow: auto;
		flex-direction: column;
		justify-content: center;
		gap: 24px;
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		transition: opacity cubic-bezier(0.92, 0.02, 0.96, 0.42) 0.3s;

		& li {
			color: black;
		}

		&.is-active {
			visibility: visible;
			opacity: 1;
			pointer-events: all;
		}
	}
}

// burger
.menu-btn {
	display: none;
	@media (--md) {
		display: flex;
	}
	position: relative;
	z-index: $z-1;
	--height: 24px;
	width: 36px;
	padding: 4px;
	height: var(--height);
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	& span {
		display: block;
		height: 1px;
		width: 100%;
		background-color: black;
		transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
	&:active {
		border: 1px solid transparent;
	}
	&.is-active {
		& span {
			&:first-child {
				transform: rotate(135deg);
				position: relative;
				top: calc(var(--height) * 0.35);
			}
			&:nth-child(2) {
				width: 0;
			}
			&:last-child {
				transform: rotate(45deg);
				position: relative;
				bottom: calc(var(--height) * 0.25);
			}
		}
	}
}
