<div class="container">
	<header class="flex justify-between">
		<a href="">Foodmarket</a>
		<nav>
			<ul class="flex">
				<li>
					<a href="">catalog</a>
				</li>
				<li>
					<a href="">favorites</a>
				</li>
			</ul>
		</nav>
		<div>
			<input type="text" id="search" placeholder="Search" />
			<a href=""><i class="bx bx-search"></i></a>
		</div>
	</header>
	<ul class="categories">
		<li>
			<a href="">category</a>
		</li>
		<li>
			<a href="">category</a>
		</li>
		<li>
			<a href="">category</a>
		</li>
		<li>
			<a href="">category</a>
		</li>
		<li>
			<a href="">category</a>
		</li>
	</ul>
</div>
